
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>attribute_display</title>
    <style>
        .container_1{
            width:300px;
            min-height:300px;
            border:2px solid #000000;
        }
        body{
            text-align:center;
        }
        p{
            border:1px solid #000000
        }
    </style>
</head>
<body>
    <div class="container_1">
        <h4>Display:block</h4>
        <p style="display:block">Block</p>
        <h4>Display:inline</h4>
        <p style="display:inline">Inline</p>
        <p style="display:inline">Inline</p>
        <h4>Display:flex</h4>
        <p style="display:flex">Flex</p>
        <h4>Display:Grid</h4>
        <p style="display:grid">Grid1</p>
    </div>
</body>
</html>
