
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>attribute_margin</title>
    <style>
        button {
            text-align: center;
            border: 2px solid #000000;
        }
    </style>
</head>
<body>
    <div class="container">
        <button style="margin:50px"> Margin: 50px</button>
        <button style="margin: 50px 30px"> Margin: 50px 30px (top=bot, left = right)</button>
        <button style="margin: 50px 30px 20px"> Margin: 50px 30px 20px(top, left = right, bot)</button>
        <button style="margin: 50px 30px 20px 10px"> Margin: 50px 30px 20px 10px(top, left, right, bot)</button>
     </div>
</body>
</html>
